/* Base Styles */
:root {
    --main-background: #400606;
    --main-font: white;
    --secondary-font: #F2C46D;
    --highlight-one: #A62B1F;
    --highlight-two: #59360A;
    --highlight-three: #D98A29;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-font);
    color: var(--main-font);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--highlight-two);
    padding: 20px;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--secondary-font);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--secondary-font);
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--secondary-font);
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

.search-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--highlight-one);
    color: var(--main-font);
    border: none;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-btn:hover {
    background-color: var(--highlight-two);
    transform: scale(1.05);
}

.search-form {
    background-color: var(--main-font);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    flex: 1 1 30%;
    min-width: 250px;
}

.search-form form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: var(--highlight-one);
    color: var(--main-font);
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--highlight-two);
    transform: scale(1.05);
}

#results {
    background-color: var(--main-font);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-top: 2rem;
}

#recipe-list {
    margin-top: 1rem;
}

footer {
    background-color: var(--main-font);
    color: var(--highlight-three);
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    /* box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); */
}
